body{
    font-family: roboto, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

#calcBody{
    max-width: 400px;
    max-height: 500px;
    margin-top: 100px;
    outline-style: solid;
    outline-width: 3px;
    outline-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    padding: 20px;
}

.row{
    display: flex;
    gap: 10px;
}

#display {
    width: 350px;
    height: 80px;
    background-color: gainsboro;
}

button{
    height: 60px;
    margin: 0px;
    padding: 0px;
}

.numPad, .operators, #decimalButton{
    width: 80px;
}

#clearButton, #backButton{
    width: 125px;
}

#equalsButton {
    width: 170px;
}